

.small_card_content {
    
    margin: 0;
    flex: 1 1 calc(25% - 1rem); 
    background-color: transparent; 
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 1rem; 
    

    .img {
        position: relative;
        max-width: 75px;
        min-height: auto;
    }
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .text_img .side_h {
        font-family: Lato, sans-serif;
        font-size: 17px;
        line-height: 1.353em;
        letter-spacing: .075em;
        text-transform: uppercase;
        color: #000;
    }
    .text_img .pargraph {
        color: #838383;
        line-height: 1.3em;
        margin: 0 0 4px;
        width: 90%;
        font-family: Cormorant;
    }
    .text_img .price {
        position: relative;
        display: block;
        margin: 4px 0 0;
        font-family: Cormorant, serif;
        font-size: 22px;
        font-weight: 500;
        line-height: 1;
        letter-spacing: .05em;
        text-transform: uppercase;
        color: #000;
    }
    .text_img {
        margin-left: 20px;
        position: relative;
        display: flex;
        align-items: flex-start;
        flex-direction: column;
    }
}

@media (max-width:992px){
    .text_img .side_h {
        font-size: 19px;
    }
}