.card4 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  position: relative;
  .card4_item {
    
    width: 300px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    .img {
      width: 100% !important;
      height: 470px; /* Set a fixed height for the image container */
      margin-bottom: 1rem;
      overflow: hidden; /* Ensures the image doesn’t overflow */
      

      img {
        width: 100%;
        height: 100%;
        object-fit: cover; /* Ensures the image covers the container while maintaining aspect ratio */
      }
    }

    .text {
      width: 100%;
     text-align: left;
     margin-right: 10px;

      .info {
        a {
          text-decoration: none;
        }

        span {
          font-weight: normal;
          color: #555 !important;
        }

        .header {
          margin-top: 0.5rem;
          font-size: 1.25rem;
          font-weight: bold;
          color: #333;
        }

        .par {
          font-size: 1.1rem;
          color: #777;
          margin-top: 0.5rem;
        }
      }
    }
  }
}

.info {
  position: relative;
  display: inline-block;
  vertical-align: top;
  font-size: 17px;
  font-style: italic;
  line-height: 1.2;
  font-weight: 500;
  color: #9d9b9b;
  padding: 0 20px 5px 0;
  font-family: 'Cormorant', serif;
}
.read{
  text-align: left;
  position: relative;
    display: inline-block;
    vertical-align: middle;
    width: auto;
   position: relative;
   right: 50px;
   color: #000 !important;
    font-family: Lato, sans-serif;
    font-size: 12px;
    line-height: 2em;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: .2em;
    border-radius: 0;
    outline: 0;
    cursor: pointer;
    box-sizing: border-box;
    transition: color .2s ease-in-out, background-color .2s ease-in-out, border-color .2s ease-in-out;
    padding: 13px 48px;
    cursor: pointer;
    &::before{
      content: '';
    position: relative;
    display: inline-block;
    vertical-align: middle;
    height: 2px;
    width: 3px;
    background-color: currentColor;
    bottom: 1px;
    margin-right: 7px;
    transition: width .3s ease-in-out;
    }
    &:hover::before{
      width:15px;
    }
}
.mkdf-post-info-date {
  font-family: 'Cormorant', serif;
  font-size: 1.2rem;
  color: #000;
  margin-bottom: 1rem;
  position: absolute;
    background-color: #feeae7;
    padding: 0 6px;
    max-height: 80px;
    top: 0;
    left: 20px;
    width: 53px;

  a {
    text-decoration: none;
    color: inherit;
  }

  .mkdf-post-info-get-month, 
  .mkdf-post-info-get-date {
    display: block;
    font-weight: bold;
  }
}
.mkdf-post-info-get-month{
  font-family: "Dancing Script", cursive;
}

@media (max-width:992px) {
  .card4{
    display: block;
    text-align: center;
  }
  .card4_item {
    position: relative;
    left: 10%;
    width: 100%;
    height: 100%;
   }
}
.img3 {
  width: 100% !important;
  height: 470px; /* Set a fixed height for the image container */
  margin-bottom: 1rem;
  overflow: hidden; /* Ensures the image doesn’t overflow */
  position: relative;
 /* Styling the image itself */
 .imgsc {
  width: 100%;
  height: 100%;
  object-fit: cover; 
  transition: transform .5s ease-in-out; 
}


&:hover .imgsc {
  transform: scale(1.1); 
}

  &:hover:after {
    transform: scaleY(1);
  }
  &:after {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    content: '';
    background-color: rgba(0, 0, 0, .4);
    transition: transform .3s ease-in-out; 
    background: #f7ded9;
    background: linear-gradient(0deg, rgba(247, 222, 217, .5) 0%, rgba(247, 222, 217, .1) 35%, rgba(247, 222, 217, 0) 55%);
    transform: scaleY(0);
    transform-origin: bottom; 
  }
}
